<h1> Ajouter un évènement </h1>
<form ngNativeValidate>
    <div class="container">
    <div class="row cadre">
        <div class="col-6 mt-3">
            <div class="input-group row ">
                <label class="champs" for="acronyme">Acronyme :</label>
                <input type="text" id="acronyme" placeholder="Acronyme" [(ngModel)]="evenementModel.acronyme" [ngModelOptions]="{standalone: true}"required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row ">
                <label class="champs" for="nomE">Nom de l'évènement :</label>
                <input type="text" id="nomE" placeholder="Nom de l'évènement" [(ngModel)]="evenementModel.nom" [ngModelOptions]="{standalone: true}" required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="lieuE">Lieu de l'évènement :</label>
                <input type="text" id="lieuE" placeholder="Lieu de l'évènement" [(ngModel)]="evenementModel.adresse" [ngModelOptions]="{standalone: true}" required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="desc">Description : </label>
                <input type="textarea" id="desc" placeholder="Description" [(ngModel)]="evenementModel.description" [ngModelOptions]="{standalone: true}" required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="dateE">Date de l'évènement :</label>
                <input type="datetime-local" id="dateE" placeholder="Date de l'évènement" [(ngModel)]="evenementModel.dateEvenement" [ngModelOptions]="{standalone: true}" required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="dateOuvertureI">Date d'ouverture des inscriptions :</label>
                <input type="datetime-local" id="dateOuvertureI" placeholder="Date d'ouverture des inscriptions" [(ngModel)]="evenementModel.dateOuverture" [ngModelOptions]="{standalone: true}"  required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="dateClotureI">Date de cloture des inscriptions :</label>
                <input type="datetime-local" id="dateClotureI" placeholder="Date de cloture des inscriptions" [(ngModel)]="evenementModel.dateFermeture" [ngModelOptions]="{standalone: true}" required/>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="input-group row">
                <label class="champs" for="nbMaxP">Nombre maximal de participants :</label>
                <input type="number" id="nbMaxP" placeholder="Nombre maximal de participants"  [(ngModel)]="evenementModel.nbMaxParticipants" [ngModelOptions]="{standalone: true}" required min="0"/>
            </div>
        </div>
        
    </div>
</div>
    <button class="boutonAnnuler" type="submit" routerLink="/afficherStatistiques">Annuler</button>
    <button class="boutonConfirmer" type="submit">Confirmer</button>
   
</form>

<pre>{{evenementModel | json}}</pre>
