<h1>Détails de l'évènement</h1>
<div class="container">
    <b>Acronyme </b>                          
    <p>{{evenement.acronyme}}</p>

    <b>Nom de l'évènement</b>                 
    <p>{{evenement.nom}}<p>

    <b>Lieu de l'évènement</b>                
    <p>{{evenement.adresse}}<p>

    <b>Description</b>                        
    <p>{{evenement.description}}</p>

    <b>Date de l'évènement</b>                
    <p>{{evenement.dateEvenement}}</p>

    <b>Date d'ouverture des inscriptions</b>  
    <p>{{evenement.dateOuverture}}</p>

    <b>Date de cloture des inscriptions</b>   
    <p>{{evenement.dateFermeture}}</p>

    <b>Nombre de participants</b>             
    <p>{{evenement.nbParticipants}}</p>

    <b>Nombre maximal de participants</b>     
    <p>{{evenement.nbMaxParticipants}}</p>

</div>

