<table>
    <thead>
        <th colspan="2"><h1>Détails<br/>évènement</h1></th>
    </thead>
    <tbody>    
        <tr><td class="champs">Acronyme</td>                           <td class="donnees">{{evenement.acronyme}}</td></tr>
        <tr><td class="champs">Nom de l'évènement</td>                 <td class="donnees">{{evenement.nom}}</td></tr>
        <tr><td class="champs">Lieu de l'évènement</td>                <td class="donnees">{{evenement.adresse}}</td></tr>
        <tr><td class="champs">Description</td>                        <td class="donnees">{{evenement.description}}</td></tr>
        <tr><td class="champs">Date de l'évènement</td>                <td class="donnees">{{evenement.dateEvenement}}</td></tr>
        <tr><td class="champs">Date d'ouverture des inscriptions</td>  <td class="donnees">{{evenement.dateOuverture}}</td></tr>
        <tr><td class="champs">Date de cloture des inscriptions</td>   <td class="donnees">{{evenement.dateFermeture}}</td></tr>
        <tr><td class="champs">Nombre de participants</td>             <td class="donnees">{{evenement.nbParticipants}}</td></tr>
        <tr><td class="champs">Nombre maximal de participants</td>     <td class="donnees">{{evenement.nbMaxParticipants}}</td></tr>
    </tbody>
</table>