<h1>Liste des participants</h1>
<div class="table" >
    <table>
        <thead>
            <tr>
                <th></th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Mail</th>
                <th scope="col">Téléphone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- liste des participants -->
            <tr  *ngFor="let p of this.listParticipants; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{p.nom}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.mail}}</td>
                <td >{{p.numeroTelephone}}</td>
                <td><button type="button" class="btn btn-outline-secondary" routerLink="/detailsParticipants/{{p.mail}}">Consulter</button></td>
            </tr>
        </tbody>
    </table>
</div>