<table>
    <thead>
        <th colspan="6"><h1>Liste<br/>Participants</h1></th>
    </thead>
    <tbody>
        <tr class="champs">
            <td class="nom">Nom</td>
            <td class="prenom">Prenom</td>
            <td class="mail">Mail</td>
            <td class="tel">Téléphone</td>
            <td></td>
            <td></td>
        </tr>
    
        <tr class="champs_ajout_participant">
            <td class="nom"><input type="text" id="fnom"/></td>
            <td class="prenom"><input type="text" id="fprenom"/></td>
            <td class="mail"><input type="text" id="fmail"/></td>
            <td class="tel"><input type="text" id="ftel"/></td>
            <td><button type="submit"><img class="img_button" src="/assets/images/Save_Button.png"/></button></td>
            <td></td>
        </tr>

        <!-- liste des participants -->
        <tr class="participant">
            <td class="nom">Nom</td>
            <td class="prenom">Prénom</td>
            <td class="mail">nom.prenom@gmail.com</td>
            <td class="tel">XX.XX.XX.XX.XX</td>
            <td><button><img class="img_button" src="/assets/images/modify_pen.png"/></button></td>
            <td><button><img class="img_button" src="/assets/images/bin_button.png"/></button></td>
        </tr>
        <tr class="participant">
            <td class="nom">Pulval-Dady</td>
            <td class="prenom">Carolane</td>
            <td class="mail">nom.prenom@gmail.com</td>
            <td class="tel">XX.XX.XX.XX.XX</td>
            <td><button><img class="img_button" src="/assets/images/modify_pen.png"/></button></td>
            <td><button><img class="img_button" src="/assets/images/bin_button.png"/></button></td>
        </tr>
        <tr class="participant_en_modification">
            <td class="nom"><input type="text" id="nom1" value="Nom"/></td>
            <td class="prenom"><input type="text" id="nom1" value="Prénom"/></td>
            <td class="mail"><input type="text" id="nom1" value="nom.prenom@gmail.com"/></td>
            <td class="tel"><input type="text" id="nom1" value="XX.XX.XX.XX.XX"/></td>
            <td><button><img class="img_button" src="/assets/images/Save_Button.png"/></button></td>
            <td><button><img class="img_button" src="/assets/images/bin_button.png"/></button></td>
        </tr>
        <tr class="participant">
            <td class="nom">Nom</td>
            <td class="prenom">Prénom</td>
            <td class="mail">nom.prenom@gmail.com</td>
            <td class="tel">XX.XX.XX.XX.XX</td>
            <td><button><img class="img_button" src="/assets/images/modify_pen.png"/></button></td>
            <td><button><img class="img_button" src="/assets/images/bin_button.png"/></button></td>
        </tr>
    </tbody>
</table>