.divTableScroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    display: inline-block;
}



.boutons {
    width: 100%;
    text-align: right;
    margin-top: 2%;
}

button {
    border: none;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

button.alert {
    color: red;
    background: transparent;
}

button {
    background: #DCD5D5;
}