<h1> Inscription à l'évènement [Insérer Nom Evènement] </h1>

<form >
    <div class="cadre">

        <label class="champs" for="nomP">Nom du participant :</label>
        <input type="text" id="nomP"  required/>

        <label class="champs" for="prenomP">Prénom du participant :</label>
        <input type="text" id="prenomP"  required/>

        <label class="champs" for="email">Email : </label>
        <input type="text" id="email"  required/>

        <label class="champs" for="numT">Numéro de téléphone : </label>
        <input type="text" id="dateE"  required/>
    </div>
    
    <button class="boutonAnnuler" type="submit">Annuler</button>
    <button class="boutonConfirmer" type="submit">Confirmer</button>
   
</form>

